.skillgroup__title {
    color: var(--skillgroup-title-color);
    font-size: var(--font-size-md);
    font-weight: 500;
    margin-bottom: 8px;
}

.skillgroup__content {
    display: flex;
    flex-wrap: wrap;
}
