.resume {
    --resume-bg-color: #55555530;
    --resume-border-color: #ffffff25;
    --resume-shadow: 0 5px 10px 2px #00000030;

    --header-name-color: #fff;
    --header-name-font-size: var(--font-size-xl);
    --header-role-color: #ffffff80;
    --header-role-font-size: var(--font-size-md);
    --header-icon-color: #fff;
    --header-txt-color: #fff;

    --body-side-width-min: 100px;
    --body-side-width-max: 200px;
    --body-side-gap: 32px;
    --body-skill-gap: 40px;
    --body-gap: 20px;

    --section-header-title-fs: var(--font-size-lg);
    --section-header-title-color: #ffffff95;
    --section-header-line-color: #ffffff80;
    --section-header-line-width: 1px;
    --section-header-mb: 24px;

    --header-contact-txt: #ffffff85;
    --section-txt-color: #ffffff80;
    --skillgroup-title-color: #ffffff85;
    --skillbar-name-txt-color: #ffffff75;

    --skill-color-bg: #ffffff30;
    --skill-color-bg-hover: #ffffff75;
    --skill-color-txt: #ffffff85;
    --skill-color-txt-hover: #ffffff;
    --skill-color-border: transparent;
    --skill-color-border-hover: transparent;

    --timeline-prop-color: #3c87c4;
    --timeline-prop-margin: 24px;
    --timeline-circle-offset: 3px;
    --timeline-circle-size: 16px;
    --timeline-circle-width: 4px;
    --timeline-line-width: 3px;
    --timeline-line-opacity: 0.2;
    --timeline-step-description-color: #ffffff80;

    --text-title-color: white;
    --text-title-font-size: 0px;
    --text-title-font-weight: 0;
    --text-title-margin-botton: 0px;

    --progress-bar-bg-color: #ffffff30;
    --progress-bar-bar-color: #ffffff75;
    --progress-bar-bg-color-hover: #ffffff55;
    --progress-bar-bar-color-hover: #ffffff95;
    --progress-bar-height: 0.8rem;
    --progress-bar-radius: 5px;
    --progress-bar-padding: 2px;

    background: var(--resume-bg-color);
    backdrop-filter: blur(24px);

    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    max-width: 1000px;
    padding: 32px 48px;

    border: solid var(--resume-border-color);
    border-width: 1px;
    border-radius: 6px;
    box-shadow: var(--resume-shadow);
    transition: 0.3s ease;
}
