.resume {
    --resume-bg-color: #ffffff15;
    --resume-border-color: #ffffff25;
    --resume-shadow: 0 5px 10px 2px #00000030;

    --header-name-color: #fff;
    --header-name-font-size: var(--font-size-xl);
    --header-role-color: #888;
    --header-role-font-size: var(--font-size-md);
    --header-icon-color: #fff;
    --header-txt-color: #fff;

    --body-side-width-min: 100px;
    --body-side-width-max: 200px;
    --body-side-gap: 32px;
    --body-skill-gap: 40px;
    --body-gap: 20px;

    --contact-txt: #000;

    --skill-color-bg: #1598e4;
    --skill-color-bg-hover: #1763c7;
    --skill-color-txt: #fff;
    --skill-color-txt-hover: #fff;
    --skill-color-border: transparent;
    --skill-color-border-hover: transparent;

    --timeline-prop-color: rgb(255, 255, 255);
    --timeline-prop-margin: 24px;
    --timeline-circle-offset: 3px;
    --timeline-circle-size: 16px;
    --timeline-circle-width: 4px;
    --timeline-line-width: 3px;
    --timeline-line-opacity: 0.2;

    background: var(--resume-bg-color);
    backdrop-filter: blur(16px);

    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    max-width: 1000px;
    padding: 32px 48px;

    border: solid var(--resume-border-color);
    border-width: 1px;
    border-radius: 6px;
    box-shadow: var(--resume-shadow);
    transition: 0.3s ease;
}
