.resume-body {
    display: flex;
    gap: 0 var(--body-gap);
}

.resume-body__main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.resume-body__side {
    display: flex;
    flex-direction: column;
    gap: var(--body-skill-gap) 0;

    width: 100%;
    min-width: var(--body-side-width-min);
    max-width: var(--body-side-width-max);
}

.resume-body__side__content {
    display: flex;
    flex-direction: column;
    gap: var(--body-side-gap) 0;
}
