.resumebody {
    display: flex;
    gap: 0 20px;
}

.resumebody__main {
    display: flex;
    flex-direction: column;
}

.resumebody__side {
    display: flex;
    flex-direction: column;
    gap: 64px 0;

    width: 100%;
    min-width: 200px;
    max-width: 200px;
}

.resumebody__side__content {
    display: flex;
    flex-direction: column;
    gap: 32px 0;
}
