.skillbar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skillbar__name {
    font-size: var(--font-size-sm);
}

.skillbar__bar {
    width: 100%;
    height: 0.8rem;
    border-radius: 0;
    border: none;
}
