.header {
    display: flex;
    align-items: center;
}

.header__details {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    gap: 16px;
}

.header__details__name {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

    color: var(--header-color-name);
    font-size: 24px;
    font-weight: 600;
}

.header__details__tags {
    color: var(--header-color-tags);
}

.header__contact {
    display: flex;
    flex-direction: column;
}

.header__contact__item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__contact__item {
    color: var(--header-color-txt);
    font-size: 18px;
    text-decoration: none;
}

.contact__item i {
    color: var(--header-color-icon);
    font-size: 24px;
}
