.resume-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.resume-header__image {
    border-radius: 5px;
}

.resume-header__details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-left: 16px;
    gap: 16px;
}

.resume-header__name {
    color: var(--header-name-color);
    font-size: var(--header-name-font-size);
    font-weight: 600;
    text-shadow: 0 2px 2px #00000030;
}

.resume-header__role {
    color: var(--header-role-color);
    font-size: var(--header-role-font-size);
    text-shadow: 0 1px 2px #00000030;
}

.resume-header__contact {
    display: flex;
    flex-direction: column;
    width: 200px;
}
