:root {
    /* THEME VARIABLES */
    --theme-name: "light";

    /* ELEMENT VARIABLES */
    --body-background: #fff;

    /* COMPONENT VARIABLES */
    --container-color-bg: #fff;
    --container-color-border: transparent;
    --container-shadow: 0 5px 10px 2px #00000030;

    --header-color-txt: #fff;
    --header-color-icon: var(--header-color-txt);
    --header-color-name: var(--header-color-txt);
    --header-color-tags: #ddd;

    --skill-color-bg: #888;
    --skill-color-txt: #fff;
    --skill-color-border: transparent;
    --skill-color-bg-hover: #000;
    --skill-color-txt-hover: #fff;
    --skill-color-border-hover: transparent;
}

body {
    background: no-repeat var(--body-background);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 40px 0;
}

.app {
    background-color: var(--container-color-bg);
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    max-width: 1000px;
    padding: 32px 48px;

    border: solid var(--container-color-border);
    border-width: 1px 2px;
    border-radius: 6px;
    box-shadow: var(--container-shadow);
    transition: 0.3s ease;
}
