.section-header {
    margin-bottom: var(--section-header-mb);
}

.section-header__title {
    color: var(--section-header-title-color);
    font-size: var(--section-header-title-fs);
}

.section-header__line {
    display: block;
    width: 100%;
    border-bottom: var(--section-header-line-width) solid
        var(--section-header-line-color);
}
