.section-header {
    margin-bottom: 24px;
}

.section-header__title {
    font-size: var(--font-size-lg);
}

.section-header__line {
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
}
