.resume-contact {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;

    color: var(--header-contact-txt);
    text-decoration: none;
}

.resume-contact:hover {
    text-decoration: underline;
}
