.text-title {
    --text-title-color: white;
    --text-title-font-size: 0px;
    --text-title-font-weight: 0;
    --text-title-margin-botton: 0px;

    color: var(--text-title-color);
    font-size: var(--text-title-font-size);
    font-weight: var(--text-title-font-weight);
    margin-bottom: var(--text-title-margin-bottom);
}

.text-title--text-md {
    --text-title-color: #888;
    --text-title-font-size: var(--font-size-md);
    --text-title-font-weight: 500;
}

.text-title--text-lg {
    --text-title-color: black;
    --text-title-font-size: var(--font-size-lg);
    --text-title-font-weight: 500;
}

.text-title--margin-md {
    --text-title-margin-bottom: 8px;
}

.text-title--margin-lg {
    --text-title-margin-bottom: 12px;
}
