.text-title {
    color: var(--text-title-color);
    font-size: var(--text-title-font-size);
    font-weight: var(--text-title-font-weight);
    margin-bottom: var(--text-title-margin-bottom);
}

.text-title--text-md {
    --text-title-font-size: var(--font-size-md);
    --text-title-font-weight: 500;
    opacity: 0.75;
}

.text-title--text-lg {
    --text-title-font-size: var(--font-size-lg);
    --text-title-font-weight: 500;
}

.text-title--margin-md {
    --text-title-margin-bottom: 8px;
}

.text-title--margin-lg {
    --text-title-margin-bottom: 12px;
}
