.timelinedeco {
    display: flex;
    height: fit-content;
}

.timelinedeco__prop {
    position: relative;
    width: calc(var(--timeline-circle-size) * 2);
    height: 100%;
    margin-right: var(--timeline-prop-margin);
}

.timelinedeco__prop::after {
    background: transparent;
    content: "";
    position: absolute;
    left: 50%;
    top: var(--timeline-circle-offset);

    width: var(--timeline-circle-size);
    height: var(--timeline-circle-size);

    border: var(--timeline-circle-width) solid var(--timeline-prop-color);
    border-radius: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.timelinedeco__prop::before {
    content: " ";
    position: absolute;
    left: 50%;
    height: 100%;

    border: var(--timeline-line-width) dashed var(--timeline-prop-color);
    transform: translateX(-50%);
    opacity: var(--timeline-line-opacity);
    box-sizing: border-box;
}
