.background {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: -1000;
}

.background::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #00104030;
}

.background .background__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
